root = true

[*]
charset = utf8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.asm]
indent_style = tab
tab_width = 8

[*.S]
indent_style = tab
tab_width = 8

[*.inc]
indent_style = tab
tab_width = 8

[*.c]
indent_style = space
indent_size = 4

[*.h]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab
indent_size = 4
